@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ar3m5h');
  src:  url('../fonts/icomoon.eot?ar3m5h#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ar3m5h') format('truetype'),
    url('../fonts/icomoon.woff?ar3m5h') format('woff'),
    url('../fonts/icomoon.svg?ar3m5h#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-envelope-solid:before {
  content: "\e900";
}
.icon-telegram-brands:before {
  content: "\e901";
}
