/*
 *   Author:  Pit Orel
 *   Website: https://vk.com/html_css_verstka_saitov
 *   Github:  https://github.com/pit6262
 *   Skype:   hostings1
 *
 */
/* NORMALIZE */
/* ================================================ */
html, body, div, span, applet, main, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers*/
article, aside, details, main, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Tahoma, sans-serif;
  line-height: 1;
  background-color: #ffffff;
  height: 100%;
  position: relative;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px;
}

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

input, textarea {
  color: #333;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
}

input[type="button"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  outline: none;
}

input[type="search"] {
  -webkit-appearance: none;
}

::-ms-clear {
  width: 0;
  height: 0;
}

button {
  cursor: pointer;
  -webkit-appearance: none;
  outline: none;
}

td, form {
  margin: 0px;
  padding: 0px;
}

a {
  color: #000100;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after, .wrapper:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

body {
  color: #545454;
  font: 400 11.42857px Comfortaa, cursive, Arial, sans-serif;
  background: #ffffff;
}

/* MAIN STYLES */
/* ================================================ */
.main-wrapper {
  padding: 0;
  min-width: 320px;
  position: relative;
  overflow: hidden;
  opacity: 1;
  min-height: 100%;
}

.wrapper {
  max-width: 1200px;
  padding: 0 40px 0 40px;
  margin: 0 auto;
  position: relative;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}

/*===================== Specials =================*/
.active {
  color: #545454 !important;
}

h1 {
  font-size: 4rem;
  font-family: Marck Script, cursive;
  color: #45b29a;
  margin-bottom: 2rem;
}

h2 {
  font-size: 3.5rem;
  color: #1e836c;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 40px;
}

h3 {
  font-size: 1.3rem;
  color: #45b29a;
  letter-spacing: -1px;
  margin-bottom: 1.7rem;
}

p {
  font-size: 1.1rem;
  line-height: 1.6;
}

.btn {
  font-size: 1rem;
  background: #45b29a;
  padding: 15px 20px 15px 50px;
  position: relative;
  color: #1b7f69;
  border-radius: 3px;
  border: 0;
  text-transform: uppercase;
}

.btn:hover {
  background: #3ea08a;
}

.header__cloud_left.clouds__bottom {
  top: 72%;
  left: 3%;
}

.header__cloud_right.clouds__bottom {
  top: 65%;
  right: 3%;
}

img {
  display: block;
}

span {
  display: inline-block;
}

/* text position */
.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

/*================================== HEADER =============================*/
.header {
  background-color: #e0ebe8;
  margin-bottom: 100px;
}

.header-top {
  padding-top: 50px;
  margin-bottom: 150px;
}

.header-center {
  margin-bottom: 150px;
}

.header-bottom {
  position: relative;
}

.header-bottom img {
  max-width: 100%;
  margin: 0 auto;
}

.header__text {
  text-align: center;
}

.header__text__info {
  font-size: 1.7rem;
  font-family: Lobster;
  color: #45b29a;
  letter-spacing: 1.5px;
}

.header__cloud_left {
  position: absolute;
  left: 11%;
}

.header__cloud_right {
  position: absolute;
  right: 13%;
  top: 27%;
}

.header__flag__left {
  position: absolute;
  left: 25%;
  bottom: 40%;
}

.header__flag__right {
  position: absolute;
  right: 25%;
  bottom: 40%;
}

.nav__menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav__menu__link {
  font-size: 1.5rem;
  font-family: Lobster;
  color: #45b29a;
  margin-left: 30px;
}

.nav__menu__link:hover {
  color: #545454;
}

/*================================== HELLO =============================*/
.hello {
  margin: 0 auto;
  max-width: 460px;
}

.hello figure {
  margin: 0 auto;
  max-width: 150px;
  padding-bottom: 40px;
}

.hello__text {
  text-align: center;
}

/*================================== WHAT I CAN =============================*/
/*================================== DEVELOPE =============================*/
.develope {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
  /*================================== HELP =============================*/
}

.develope:nth-child(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.develope:nth-child(odd) .develope__text {
  margin-left: 0;
}

.develope__img img {
  width: 120px;
  height: 120px;
}

.develope__text {
  margin-left: 70px;
}

.help {
  margin-bottom: 100px;
}

.help__text {
  text-align: center;
}

.help__text p {
  margin-bottom: 50px;
}

.help__text .button {
  position: relative;
}

.help__text .button [class*='icon'] {
  position: absolute;
  font-size: 1.5rem;
  left: 10%;
  top: 23%;
  font-weight: 400;
  color: #1b7f69;
}

/*================================== HELP =============================*/
.footer {
  background: #c5ded7;
  padding: 60px 0;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.3rem;
  color: #45b29a;
  margin-bottom: 60px;
}

.footer__social__item {
  margin-left: 50px;
}

.footer__social__item:hover {
  color: #545454;
}

.footer__social__item [class*='icon'] {
  font-size: 1.5rem;
  vertical-align: text-top;
  color: #222222;
  margin-right: 10px;
}

.footer__copy {
  text-align: center;
}

.footer__copy .copyright {
  font-size: 1rem;
  color: #45b29a;
}

.footer__copy .copyright:hover {
  color: #545454;
}

/*================================== MEDIA =============================*/
@media screen and (max-width: 1115px) {
  .header__cloud_left {
    left: 7%;
  }
  .header__cloud_right {
    right: 7%;
  }
}

@media screen and (max-width: 960px) {
  .header__cloud_left {
    display: none;
  }
  .header__cloud_right {
    display: none;
  }
  .header__flag__left {
    left: 5%;
  }
  .header__flag__right {
    right: 5%;
  }
  .develope {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .develope:nth-child(odd) {
    -ms-flex-direction: column-reverse;
  }
  .develope__img img {
    position: absolute;
    left: 40%;
  }
  .develope__text {
    text-align: center;
    margin-top: 160px;
  }
  .button .btn {
    padding: 15px 90px 15px 100px;
  }
}

@media screen and (max-width: 650px) {
  p {
    font-size: 1rem;
  }
  .container {
    max-width: 400px;
  }
  .header__flag__left {
    left: 0;
  }
  .header__flag__right {
    right: 0;
  }
  .develope__img img {
    left: 35%;
  }
  .develope__text {
    margin-left: -20px;
  }
  .footer__social {
    font-size: 1.1rem;
  }
  .footer__social__item {
    margin-left: 30px;
  }
  .footer__social__item [class*='icon'] {
    display: none;
  }
}

@media screen and (max-width: 460px) {
  .container {
    max-width: 250px;
  }
  h1 {
    font-size: 2.9rem;
  }
  h2 {
    font-size: 2rem;
  }
  .header__text__info {
    font-size: 1.4rem;
  }
  .header__flag__left {
    left: -12%;
  }
  .header__flag__right {
    right: -10%;
  }
  .nav__menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .develope__img img {
    left: 25%;
  }
  .button .btn {
    font-size: 0.8rem;
    padding: 15px 40px 16px 60px;
  }
  .button .btn [class*='icon'] {
    font-size: 1.2rem;
    top: 25%;
  }
  .footer__social__item {
    font-size: 0.9rem;
    margin-left: 0;
  }
  .footer__social__item:first-child {
    margin-right: 10px;
  }
  .footer__copy .copyright {
    font-size: 0.8rem;
  }
}
/*# sourceMappingURL=style.css.map */