/*
 *   Author:  Pit Orel
 *   Website: https://vk.com/html_css_verstka_saitov
 *   Github:  https://github.com/pit6262
 *   Skype:   hostings1
 *
 */
/* NORMALIZE */
/* ================================================ */
html, body, div, span, applet, main, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers*/
article, aside, details, main, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Tahoma, sans-serif;
  line-height: 1;
  background-color: #ffffff;
  height: 100%;
  position: relative;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px;
}

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

input, textarea {
  color: #333;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
}

input[type="button"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  outline: none;
}

input[type="search"] {
  -webkit-appearance: none;
}

::-ms-clear {
  width: 0;
  height: 0;
}

button {
  cursor: pointer;
  -webkit-appearance: none;
  outline: none;
}

td, form {
  margin: 0px;
  padding: 0px;
}

a {
  color: #000100;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after, .wrapper:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

body {
  color: #333333;
  font: 400 7.83875px Montserrat, sans-serif, Arial, sans-serif;
  background: #fff;
}

/* MAIN STYLES */
/* ================================================ */
.main-wrapper {
  padding: 0;
  min-width: 320px;
  position: relative;
  overflow: hidden;
  opacity: 1;
  min-height: 100%;
}

.wrapper {
  max-width: 965px;
  margin: 0 auto;
  position: relative;
}

.container {
  max-width: 350px;
  position: relative;
  margin-left: 300px;
}

.check-container {
  max-width: 590px;
  position: relative;
  margin: 0 auto;
}

.slider-container {
  max-width: 490px;
  position: relative;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
}

span {
  display: inline-block;
}

h2 {
  font-size: 1.786rem;
}

h3 {
  font-size: 1.143rem;
  text-transform: uppercase;
}

p {
  font-size: 0.95rem;
  line-height: 1.786rem;
}

.header__shape1, .header__shape2, .header__ellipse1, .header__ellipse2 {
  position: absolute;
}

.header__shape1 {
  top: 25%;
  left: 28%;
}

.header__shape2 {
  top: 78%;
  left: 8%;
}

.header__ellipse1 {
  top: 30%;
  left: -1%;
}

.header__ellipse2 {
  top: 77%;
  left: 38%;
}

.btn {
  color: #ffffff;
  font-size: 1rem;
  text-transform: uppercase;
  line-height: 1.786rem;
  padding: 15px 25px;
  background: linear-gradient(-225deg, #256dc2 0%, #10d5db 100%);
  border-radius: 60px;
}

.btn:hover {
  background: linear-gradient(-225deg, #256dc2 100%, #10d5db 0%);
}

.btn__start {
  color: #256dc2;
  font-family: Open Sans, sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 12px 25px;
  border: 0.143rem solid #256dc2;
  border-radius: 60px;
}

.btn__start:hover {
  background: #256dc2;
  color: #ffffff;
}

/* text position */
.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

/* HEADER
 @mixin ===================== */
.header {
  background: #ebebeb;
  padding-bottom: 200px;
  /* SKILLS
		@mixin ===================== */
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 784px;
}

.header__logo {
  margin-top: 73px;
  margin-bottom: 200px;
  color: #ffffff;
  font-family: Raleway;
  font-size: 1.786rem;
  text-transform: uppercase;
}

.header__title {
  color: #ffffff;
  font-family: Open Sans, sans-serif;
  font-size: 3.429rem;
  text-align: left;
  margin-bottom: 30px;
}

.header__description {
  color: #ffffff;
  margin-bottom: 50px;
}

.header__circle {
  background-image: url("../img/img__bg/Header_Bg_circle.svg");
  background-repeat: no-repeat;
  background-position: -1050px -2100px;
  width: 2914px;
  height: 2914px;
}

.header__img_main {
  position: absolute;
  right: 0;
}

.skills {
  background: #ebebeb;
  text-align: center;
  padding-bottom: 117px;
}

.skills__title {
  margin-bottom: 85px;
}

.skills__offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skills__offer_img {
  border-radius: 50%;
  border: 0.214rem solid #d100bb;
  padding: 25px 20px;
  margin-bottom: 44px;
  display: inline-block;
}

.skills__offer_img [class*='icon'] {
  font-size: 40px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#256dc2), to(#10d5db));
  background-image: linear-gradient(to top, #256dc2 0%, #10d5db 100%);
}

.skills__offer_title {
  margin-bottom: 23px;
  color: #256dc2;
}

.skills__offer__item {
  margin-left: 50px;
}

.skills__offer__item:first-child {
  margin-left: 0;
}

/* WHAT WE CAN DO
		@mixin ===================== */
.abilities {
  padding-top: 110px;
  text-align: center;
}

.abilities__title {
  margin-bottom: 44px;
}

.abilities__ellipse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 142px;
}

.abilities__ellipse [class*='icon'] {
  color: #256dc2;
  font-size: 0.4rem;
  margin-left: 5px;
}

.abilities__ellipse [class*='icon']:nth-child(3) {
  font-size: 0.6rem;
}

.competence {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 130px;
}

.competence__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.competence__item:first-child {
  margin-right: 194px;
}

.competence__item__img {
  margin-right: 20px;
}

.competence__item__img img {
  max-width: 300px;
  height: 124px;
}

.competence__item__strong {
  font-size: 1.143rem;
  line-height: 1.786rem;
  margin-bottom: 20px;
  font-weight: 700;
}

/* HOW IT WORK
		@mixin ===================== */
.how {
  background: #ebebeb;
  position: relative;
  padding-top: 215px;
  padding-bottom: 215px;
}

.how__title {
  text-align: center;
}

.how__shape3 {
  position: absolute;
  right: 15%;
  top: 35%;
}

.how__img {
  position: relative;
}

.how__img_img {
  position: absolute;
  z-index: 1;
  left: 28%;
  top: 30px;
}

.how__img [class*='icon'] {
  position: relative;
  left: 49%;
  top: 260px;
  z-index: 2;
  background: linear-gradient(-225deg, #10d5db 0%, #2d8dff 100%);
  border-radius: 50%;
  font-size: 30px;
  text-align: center;
  vertical-align: middle;
  padding: 25px 25px 25px 28px;
}

.how__img [class*='icon']:hover {
  cursor: pointer;
  background: linear-gradient(-225deg, #256dc2 100%, #10d5db 0%);
}

/* HOW IT WORK
		@mixin ===================== */
.feature {
  overflow: hidden;
  position: relative;
  padding-bottom: 400px;
}

.feature__shape3 {
  position: absolute;
  z-index: 1;
  right: 15%;
  top: 55%;
}

.feature__shape2 {
  position: absolute;
  left: 15%;
  top: 30%;
}

.feature__ellipse2 {
  position: absolute;
  right: 10%;
  top: 20%;
}

.feature__content {
  margin: 0 -50px;
  padding-top: 600px;
  padding-bottom: 400px;
  -webkit-transform-origin: right center;
          transform-origin: right center;
}

.feature__content:nth-child(odd) {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(31, 0, 35, 0.96)), to(rgba(113, 0, 101, 0.96)));
  background: linear-gradient(to top, rgba(31, 0, 35, 0.96) 0%, rgba(113, 0, 101, 0.96) 100%);
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}

.feature__content__title {
  color: #ffffff;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
  text-align: center;
  padding-top: 200px;
  font-size: 1.5rem;
  line-height: 2.429rem;
}

/* PRODUCT
		@mixin ===================== */
.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: -80px;
  left: -8px;
}

.product__card {
  margin-left: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
}

.product__card:first-child {
  margin-top: 151px;
  margin-left: 0;
  height: 370px;
}

.product__card:nth-of-type(2) {
  margin-top: 77px;
  height: 511px;
}

.product__card:nth-child(3) {
  margin-top: 128px;
  height: 415px;
}

.product__card__header {
  border-radius: 5px;
  text-align: center;
  background: linear-gradient(45deg, #256dc2 0%, #10d5db 100%);
}

.product__card__body {
  background: #ffffff;
  padding-bottom: 37px;
}

.product__card_title {
  color: #ffffff;
  font-family: Open Sans, sans-serif;
  font-size: 1.857rem;
  text-transform: uppercase;
  padding: 25px 90px 18px 90px;
}

.product__card_img {
  padding-bottom: 10px;
}

.product__card_img [class*='icon'] {
  font-size: 40px;
}

.product__card_text {
  padding-top: 49px;
  padding-bottom: 37px;
  padding-left: 45px;
}

.product__card_check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__card_check [class*='icon'] {
  padding-left: 1px;
  padding-top: 4px;
  margin-top: 4px;
  color: #000000;
  border: 0.143rem solid #10d5db;
  border-radius: 50%;
  width: 1.1rem;
  height: 1.1rem;
}

.product__card_description {
  padding-left: 11px;
}

.product__card_btn {
  text-align: center;
}

/* CHECK
		@mixin ===================== */
.check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 400px;
  position: relative;
}

.check__ellipse1 {
  position: absolute;
  top: -40%;
  left: -1%;
}

.check__shape2 {
  position: absolute;
  top: 750px;
  left: 13%;
}

.check__content {
  margin: 0 auto;
  text-align: center;
}

.check__title {
  margin-bottom: 53px;
}

.check__img {
  margin: 0 auto;
}

.check__description {
  margin-top: 33px;
  margin-bottom: 46px;
}

/* ACTION
		@mixin ===================== */
.action {
  background: #1f0023;
  padding-top: 560px;
  padding-bottom: 76px;
}

.action__content {
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
}

.action__title {
  margin-bottom: 53px;
}

.action__description {
  margin-bottom: 44px;
}

/* SLIDER
		@mixin ===================== */
.slide {
  position: relative;
}

.sliders_bg {
  height: 531px;
  width: 917px;
  background: #ffffff;
  -webkit-box-shadow: 0 0 1.714rem rgba(0, 0, 0, 0.22);
          box-shadow: 0 0 1.714rem rgba(0, 0, 0, 0.22);
  position: absolute;
  top: -100px;
  left: 25.5%;
}

.slider {
  width: 817px;
  height: 633px;
  background: #ffffff;
  -webkit-box-shadow: 0 0 1.714rem rgba(0, 0, 0, 0.22);
          box-shadow: 0 0 1.714rem rgba(0, 0, 0, 0.22);
  position: absolute;
  left: 6%;
  top: -65px;
  margin: 0 auto;
  text-align: center;
}

.slider__img {
  margin: 0 auto;
  padding-top: 72px;
}

.slider__name {
  color: #256dc2;
  font-size: 1.143rem;
  font-weight: 400;
  line-height: 1.786rem;
  text-transform: uppercase;
  padding-top: 41px;
  padding-bottom: 33px;
}

.slider__stars {
  padding-bottom: 36px;
}

.slider__stars [class*='icon'] {
  font-size: 25px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#256dc2), to(#10d5db));
  background-image: linear-gradient(to top, #256dc2 0%, #10d5db 100%);
}

.slider__text {
  font-size: 1.143rem;
  font-weight: 400;
  line-height: 1.786rem;
}

.slider__text__read {
  font-size: 1.143rem;
  font-weight: 400;
  line-height: 1.786rem;
  color: #10d5db;
}

.slider__text__read:hover {
  color: #256dc2;
}

/* FOOTER
		@mixin ===================== */
.footer {
  padding: 40px 0;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__social__link {
  margin-left: 20px;
}

.footer__social__link:first-child {
  margin-left: 0;
}

.footer__social__link [class*='icon'] {
  font-size: 1.2rem;
}

.footer__description {
  margin-left: 25px;
  color: #1f0023;
  font-size: 0.9rem;
  line-height: 1.857rem;
}

.footer__description:first-child {
  margin-left: 0;
}

/* MEDIA
		@mixin ===================== */
@media screen and (max-width: 1690px) {
  .how__img [class*='icon'] {
    left: 52%;
  }
  .sliders_bg {
    left: 22%;
  }
}

@media screen and (max-width: 1605px) {
  .how__img_img {
    left: 23%;
  }
  .how__img [class*='icon'] {
    left: 48%;
  }
  .sliders_bg {
    left: 21%;
  }
}

@media screen and (max-width: 1520px) {
  .how__img_img {
    left: 22%;
  }
  .how__img [class*='icon'] {
    left: 49%;
  }
  .sliders_bg {
    left: 19%;
  }
}

@media screen and (max-width: 1390px) {
  .header__img_main {
    display: none;
  }
  .header__content {
    margin: 0 auto;
    text-align: center;
  }
  .header__content .container {
    max-width: none;
    margin-left: 0;
  }
  .header__title {
    text-align: center;
  }
  .header__logo {
    text-align: left;
    margin-left: 80px;
  }
  .header__shape1 {
    top: 18%;
    left: 83%;
  }
  .header__ellipse2 {
    left: 68%;
  }
  .how__img_img {
    left: 20%;
  }
  .how__img [class*='icon'] {
    left: 49%;
  }
  .sliders_bg {
    left: 16%;
  }
  .check__shape2 {
    left: 8%;
  }
}
/*# sourceMappingURL=style.css.map */